.bigheader{
    width: 100%;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    font-size: xx-large;
    text-align: center;
    color: rgb(219, 219, 219);
}
.normaltext{
    op:54px;
    width: 100%;
    color: black;
}